body {
    background-image: url(../Contacts/Assets/Coffe\ mug.jpg);
    background-size: cover;
    color: white;
}
.navbar {
    background-color: #4038327c;
}

.navbar-brand {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #aaa;
}

.navbar-brand{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}